body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#main {
  padding: 0% 10%;
}

.section {
  margin: auto;
  text-align: center;
  width: 100%;
  padding: 10% 2%;
  height: fit-content;
}

#landing {
  color: black;
  background-image: url(./static/images/Millican.jpg);
  background-size: cover;
  background-position: center;
}

.background {
  background-color: rgb(49, 49, 49);
}

#footer {
  height: fit-content;
  margin: auto;
  padding: 20px;
  justify-content: center;
  text-align: center;
}